* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  font-family: [Inter](https: //fonts.google.com/specimen/Inter);
  }

  .grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.5fr 0.2fr;
    grid-template-areas: 'nav nav nav nav'
    'main main main sidebar'
    'content1 content1 content2 sidebar'
    'footer-container footer-container footer-container footer-container'
    'footer footer footer footer';
    grid-gap: 30px;
  }

  nav {
    margin: 2em;
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  nav li a:hover {
    color:hsl(5, 85%, 63%);
    cursor:pointer;
  }

  main {
    grid-area: main;
    margin-left: 2em;
  }

  main img {
    width: 100%;
  }


  aside {
    grid-area: sidebar;
   margin-right:2em
  }

  .main-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

  }

  .content1 {
    grid-area: content1;
    width: 40%;
  }
  .footer-container{
    grid-area: footer-container;
  }

  .content2 {
    grid-area: content2;
    width: 35%;
  }

  .content2 p {
    color: hsl(236, 13%, 42%);
  }

  .sidebar {
    background-color: black;
    padding: 2em 1em;
  }

  article {
    padding: 2em;
  }


  footer {
    grid-area: footer;
    margin-left: 2em;
    
    padding: 5em;

  }

  .lead {
    padding: 1em 2em;
    margin-bottom: 2em;
    margin-top: 2em;
  }

  hr {
    color: red;
  }

  h2 {
    color: white;
  }
  h2:hover{
    cursor:pointer;
    color:hsl(35, 77%, 62%);
  }

  .second-title {
    color: hsl(35, 77%, 62%);
    padding-bottom: 1em;
  }

  h3 {
    color: hsl(233, 8%, 79%)
  }

  h4 {
    color: rgb(0, 0, 0);
    font-weight: 200;
  }
  h4:hover {
    color:red;
    cursor:pointer;
  }

  aside p {
    color: white;
  }

  h1 {
    padding: 0.5em;
  }

  button {
    font-size: 20px;
    background-color: hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    width: 10em;
    height: 3em;
    cursor:pointer
  }
  button:hover{
    color: white;
    background-color: black;
  }

  .footer-container {
    display: flex;
  }

  .foot-section {
    display: flex;
    flex-direction: column;
    padding: 1em
  }

  .f-contain {
    display: flex;
    flex-direction: row;
  margin-top: 3em;
    margin-left: 2em;
    margin-right: 2em;
  }